<launch>
    <!-- IMU relay from plutobot_msgs/Imu to sensor_msgs/Imu -->
    <node pkg="imu_calib" type="apply_calib" name="apply_calib" output="screen" respawn="false">
        <param name="calib_file" value="$(find plutobot)/param/imu/imu_calib.yaml" />
        <param name="calibrate_gyros" value="true" />
    </node>

    <!-- Filter and fuse raw imu data -->
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick" output="screen" respawn="false" >
        <param name="fixed_frame" value="base_footprint" />
        <param name="use_mag" value="false" /> <!-- TODO: Using 9250, check if it has to be turned on-->
        <param name="publish_tf" value="false" />
        <param name="use_magnetic_field_msg" value="true" /> 
        <param name="world_frame" value="enu" />
        <param name="orientation_stddev" value="0.05" />
    </node>

        
    <!-- Publish static transform from base_footprint to imu_link -->
	<!-- Static layout on Carton Pluto, it has to be changed with final layout -->
	<!-- 90deg -> 	1.570796327 rad, (TO BE VERIFIED THE VALUES) reason: IMU is mounted rotated respect to the base footprint, seems 90deg (use rad, deg?) -->
	<!-- 90deg -> 	Changed in the new box, only for documentation -->
	<!-- Seems in radians, accordingly to chap2. http://wiki.ros.org/tf2/Tutorials/Quaternions and 6.3 in http://wiki.ros.org/tf -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_imu_link" args="0.075 0.06 0.14 3.14159265 3.14159265 0  /base_footprint /imu_link"/>
	
	<!-- <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_imu_link" args="0 0 0 0 0 0  /base_footprint /imu_link"/> -->
</launch>
